palette = "catppuccin_mocha"

command_timeout = 1000

add_newline = true

format = "$directory$fill $git_branch$git_status$line_break$character"

[git_branch]
symbol = " "
format = "[$symbol$branch]($style)"
style = "lavender"

[git_status]
format = "[$behind]($style)"
style = "red"

behind = "⇣"

[character]
success_symbol = "[](bold fg:#a6e3a1)"
error_symbol = "[](bold fg:#f38ba8)"

[directory]
truncation_length = 5
style = "bold blue"
read_only = " 󰌾"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
